* {
	margin: 0;
	padding: 0;
	font-family:helvetica,"Microsoft YaHei",arial,sans-serif,HelveticaNeueLTPro-ThEx;
	/*-webkit-tap-highlight-color:transparent;*/
	-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main{
	width: 100%;
	height: 100%;
	display: none;
}

.hide{
	display: none;
}
.active{
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-family: "microsoft yahei";
	overflow: hidden;
}
ul{
	list-style: none;
}
/*首页*/
.start {
	width: 100%;
	height: 100%;
	background: url(../img/start.jpg) no-repeat center bottom;
	background-size: 100% auto;
	position: relative;
	z-index: 999;
}
/*.wrap{
	width: 100%;
	height: 100%;
	background: url(../img/wrap.png) no-repeat center center;
	background-size:100% 100%;
}*/
#start_btn {
	position: absolute;
	width: 100%;
	text-align: center;
}

#start_btn img {
	width: 90%;
/*	-webkit-animation:bounceInDown 1.6s 2s ease both;*/
}
.start_btn_ready{
	-webkit-animation:bounceInDown 1.6s 1.6s ease both;	
}
@-webkit-keyframes bounceInDown{
0%{opacity:0;
-webkit-transform:translateY(-2000px)}
60%{opacity:1;
-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}
#start_btn a {
	display: block;
	position: absolute;
	width: 50%;
	height: 30%;
	/*border: 1px solid darkblue;*/
	bottom: 10%;
	left: 25%;
}

.introduce,.intro_bg,.share,.share_bg,.share_main{
	width: 100%;
	height: 100%;
	position: absolute;
}

.introduce,.share {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

.intro_bg,.share_bg {
	position: absolute;
	background: #000;
	opacity: 0.5;
}
.intro_main{
	position: absolute;
	top: 50%;
	left: 53%;
	width: 90%;
	transform: translate(-50%, -50%);
	z-index: 50;
	text-align: center;
}
.share_main{
	position: absolute;
	width: 100%;
	text-align: left;
	z-index: 50;
	text-align: center;
}
.intro_main img{
	width: 80%;
}
.intro_main img:nth-child(1){
	width: 100%;
	margin-bottom: 20%;
}
.share_main img:nth-child(1){
	width: 100%;
}
.share_main div{
	width: 40%;
    top: 25%;
    left: 40%;
    position: absolute;
}
.share_main div img{
	width: 100%;
	
}
.share_main p{
	margin-top:10%;
	width: 100%;
	text-align: left;
	font-size: 0.85rem;
	color: #fff;
	white-space: nowrap;
}
/*胡萝卜加载特效*/
/*.carrot_main{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
    background:purple;
	background-size:100% auto;
	text-align: center;
}
.carrot_main span{
	display: inline-block;
	width: 10%;
	color: white;
	position: absolute;
	top: 69%;	
	margin-left: -5%;
}
.carrot{
	width:10%;
	height: 10%;
	position:relative;
	left: 45%;
	top: 56%;
}
.carrot{
	z-index: 99;
	background:url(../img/carrot_empty.png) no-repeat center bottom;
	background-size:60% auto;
}
#carrot_full{
	width: 100%;
	height:0%;
	position: absolute;
	z-index: 100;
	background: url(../img/carrot_full.png) no-repeat center bottom;
	background-size:60% auto;
	bottom: 0%;
}
.carrot_bg{
	width:14%;
	height:2%;
	background:url(../img/carrotBg.png) no-repeat center bottom;
	position: absolute;
	left:42.5%;
	top: 66%;
}*/


/*自定义动画效果*/
.index{
	width: 100%;
	height: 100%;
	/*background:purple;*/
	position: absolute;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  z-index: 9999;
  left: 44%;
  top: 40%;
}
 
.spinner > div {
  height: 100%;
  width: 6px;
  background: purple;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}





.rabbit{
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 5%;
	z-index: 99;
}
.rabbit_1{
	width: 36%;
	margin: 0 auto;
	position: relative;
}
.rabbit_1>img:nth-child(1){
	width: 100%;
	/*-webkit-animation:rabbit_in 2s 0s 1 linear normal forwards ;*/
}
/*兔子特效*/
/*@-webkit-keyframes rabbit_in{
	0%{
		-webkit-transform:translateY(7.5rem) translateX(0.5rem);
		
	}
	20%{
		-webkit-transform:translateY(6rem) translateX(-0rem);		
	}
	40%{
		-webkit-transform:translateY(4.5rem) translateX(-0.5rem);
	}
	60%{
		-webkit-transform:translateY(3rem) translateX(0rem);
	}
	80%{
		-webkit-transform:translateY(1.5rem) translateX(0.5rem);
	}
	100%{
		-webkit-transform:translateY(0rem) translateX(0rem);
	}
}*/
.rabbit_1>img:nth-child(2){
	position: absolute;
	top: 30%;
	left: 55%;
	width: 16%;
	/*animation:sweat 2s 4s infinite ease-in normal none ;
	-webkit-animation:sweat 2s 4s infinite ease-in normal none ;*/
	opacity: 0;
}
.sweat_ready{
	animation:sweat 2s 2s infinite ease-in normal none ;
	-webkit-animation:sweat 2s 2s infinite ease-in normal none ;
}
@-webkit-keyframes sweat{
0%{
-webkit-transform:translateY(0);
opacity: 1;
} 100%{
-webkit-transform:translateY(2rem);
opacity: 0;
} 
}
@keyframes sweat{
0%{
transform:translateY(0);
opacity: 1;
} 100%{
transform:translateY(2rem);
opacity: 0;
} 
}
.wolf{
	width: 100%;
	top: 48%;
	position: absolute;
	text-align: center;
}
.wolf img{
	width: 30%;
}
.wolf img:nth-child(1){
	/*-webkit-transform: translateX(1rem);*/	
	/*transform: translateX(1rem);*/
	/*-webkit-animation: wolf_in1 0.5s 2s ease-in forwards;
	animation: wolf_in1 0.5s 2s ease-in forwards;*/
	opacity: 0;
    position: absolute;
    left: 0%;
    top: 34%;
    width: 34%;
}
.wolf1_ready{
	-webkit-animation: wolf_in1 0.5s 0s ease-in forwards;
	animation: wolf_in1 0.5s 0s ease-in forwards;
}
.wolf img:nth-child(2){
	/*-webkit-transform: translateY(-4rem);*/
	/*-webkit-animation: wolf_in2 0.5s 2.5s ease-in forwards;
	animation: wolf_in2 0.5s 2.5s ease-in forwards;*/
	/*transform: translateY(-4rem);*/
	width: 35%;
	opacity: 0;
	margin-top: 4%;
}
.wolf2_ready{
		-webkit-animation: wolf_in2 0.5s 0.5s ease-in forwards;
	animation: wolf_in2 0.5s 0.5s ease-in forwards;
}
.wolf img:nth-child(3){
	/*-webkit-transform: translateX(-1rem);	
	transform: translateX(-1rem);*/
	/*-webkit-animation: wolf_in3 0.5s 3s ease-in forwards;
	animation: wolf_in3 0.5s 3s ease-in forwards;*/
	opacity: 0;
	position: absolute;
    left: 66%;
    top: 34%;
    width: 28%;
}
.wolf3_ready{
	-webkit-animation: wolf_in3 0.5s 1s ease-in forwards;
	animation: wolf_in3 0.5s 1s ease-in forwards;
}
@-webkit-keyframes wolf_in1{
	from{
		-webkit-transform: translateY(-10rem) translateX(8rem) scale(0.1);
		opacity: 0;
		}
	to{
		-webkit-transform: translateY(0rem) translateX(1rem) scale(1);
		opacity: 1;
		}
}
@-webkit-keyframes wolf_in2{
	from{
		-webkit-transform: translateY(-10rem) translateX(0rem) scale(0.1);
		opacity: 0;
		}
	to{
		-webkit-transform: translateY(-4rem) translateX(0rem) scale(1);
		opacity: 1;
		}
}
@-webkit-keyframes wolf_in3{
	from{
		-webkit-transform: translateY(-10rem) translateX(-8rem) scale(0.1);
		opacity: 0;
		}
	to{
		-webkit-transform: translateY(0rem) translateX(-1rem) scale(1);
		opacity: 1;
		}
}
@keyframes wolf_in1{
	from{
		transform: translateY(-10rem) translateX(8rem) scale(0.1);
		opacity: 0;
		}
	to{
		transform: translateY(0rem) translateX(1rem) scale(1);
		opacity: 1;
		}
}
@keyframes wolf_in2{
	from{
		transform: translateY(-10rem) translateX(0rem) scale(0.1);
		opacity: 0;
		}
	to{
		transform: translateY(-4rem) translateX(0rem) scale(1);
		opacity: 1;
		}
}
@keyframes wolf_in3{
	from{
		transform: translateY(-10rem) translateX(-8rem) scale(0.1);
		opacity: 0;
		}
	to{
		transform: translateY(0rem) translateX(-1rem) scale(1);
		opacity: 1;
		}
}


/*游戏界面*/
.gameBox{
	width: 100%;
	height: 100%;
	background: url(../img/game_bg.jpg)	 no-repeat center bottom;
	background-size: 100% auto;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.game_intro{
	height: 40%;
	width: 100%;
	background: url(../img/game_intro.png) no-repeat center top;
	background-size:90% auto; 
}
.gameBox ul{
	width: 90%;
	height: 55%;
	position: absolute;
	bottom: 15%;
	left: 8%;
	/*border: 1px solid #5E96BE;*/
	display: -webkit-flex;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}
.gameBox ul li{

	width: 33%;
	height: 30%;
	position: relative;
	/*border: 1px solid #0000FF;*/
	/*position: absolute;*/
	/*overflow: hidden;*/
}
/*九宫格布局*/
/*.gameBox ul li:nth-child(1),.gameBox ul li:nth-child(2),.gameBox ul li:nth-child(3){
	z-index: 3;
}
.gameBox ul li:nth-child(4),.gameBox ul li:nth-child(5),.gameBox ul li:nth-child(6){
	z-index: 4;
}
.gameBox ul li:nth-child(7),.gameBox ul li:nth-child(8),.gameBox ul li:nth-child(9){
	z-index: 5;
}*/
/*锤子*/
.hammer{
	position: absolute;
	width: 70%;
	right: 0%;
	top: -22%;
	z-index: 11;
	display: none;
}
.gameBox ul li span{
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: -15%;
	left: 0%;
	display: flex;
	justify-content: center;

	z-index: 5;
	/*background: url(../img/stone.jpg);*/
}

.gameBox ul li>div{
	position: absolute;
	bottom: 36%;
	overflow: hidden;
	
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	/*z-index:1*/
}
.gameBox ul li div div{
	position: absolute;
	width: 80%;
	height: 120%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	top: 100px;
	left: 0;

	z-index: 40;
	/*overflow: hidden;*/

}
.gameBox ul li span:nth-child(1),.gameBox ul li span:nth-child(2),.gameBox ul li span:nth-child(3){
	z-index: 2;
}
.gameBox ul li span:nth-child(4),.gameBox ul li span:nth-child(5),.gameBox ul li span:nth-child(6){
	z-index: 5;
}

.gameBox ul li span:nth-child(7),.gameBox ul li span:nth-child(8),.gameBox ul li span:nth-child(9){
	z-index: 7;
}
.gameBox ul li div div:nth-child(1),.gameBox ul li div div:nth-child(2),.gameBox ul li div div:nth-child(3){
	z-index: 2;
}
.gameBox ul li div div:nth-child(4),.gameBox ul li div iv:nth-child(5),.gameBox ul li div div:nth-child(6){
	z-index: 5;
}
.gameBox ul li div div:nth-child(7),.gameBox ul li div div:nth-child(8),.gameBox ul li div div:nth-child(9){
	z-index: 7;
}

.gameBox ul li span img{
	width: 100%;
}


.wolf_before_1{
	background-image:url(../img/wolf_before_1.png);
}
.wolf_after_1{
	background-image:url(../img/wolf_after_1.png);
}
.wolf_before_2{
	background-image:url(../img/wolf_before_2.png);
}
.wolf_after_2{
	background-image:url(../img/wolf_after_2.png);
}
.wolf_before_3{
	background-image:url(../img/wolf_before_3.png);
}
.wolf_after_3{
	background-image:url(../img/wolf_after_3.png);
}
/*进度条*/
.bar{
	position: absolute;
	width: 100%;
	height: 15%;
	bottom: 0%;
	left: 0%;
}
.game_bar_bg{
	width: 80%;
	height: 100%;
	background: url(../img/game_bar_bg.png) no-repeat center center;
	background-size: 100% auto;
	position: absolute;
	bottom: 5%;
	left: 10%;
	overflow: hidden;
}
#game_bar{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url(../img/game_bar2.png) no-repeat center center;
	background-size: 100% auto;
	left: -1%;
	bottom: 0%;
	transform: translateX(0%);
	-webkit-transform: translateX(0%)
}
.timerun{
	-webkit-animation: timerun 30s linear infinite;
	animation: timerun 31s linear infinite;
}
@keyframes timerun{
	from{transform: translateX(0%);}
	to{transform: translateX(-95%);}
}
@-webkit-keyframes timerun{
	from{-webkit-transform: translateX(0%);}
	to{-webkit-transform: translateX(-95%);}
}
.game_star{
	position: absolute;
	left: 5%;
	width: 50%;
	height: 50%;
	background: url(../img/game_star.png) no-repeat ;
	background-size:auto  100%;
	bottom: 35%;
	z-index: 2;
}

/*结果页面-成功*/
#result_success{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background: url(../img/result_success.jpg) no-repeat center center;
	background-size: 100% auto;
	z-index: 30;
}

/*结果页面-失败*/
#result_fail{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background: url(../img/result_fail.jpg) no-repeat center center;
	background-size: 100% auto;
	z-index: 30;
}

.res_retry,.res_share{
	position: absolute;
	text-align: center;
	width: 50%;
	height: auto;
	left: 25%;
}

.res_retry{
	bottom: 25%;
}
.res_share{
	bottom:12%
}
.res_retry img{
	width: 100%;
}
.res_share img{
	width: 100%;
}

.res_main{
	width: 100%;
	position: absolute;
	top: 48%;
}
.res_main p{
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 2rem;
}
#rate1,#rate2{
	color: #FFE40C;
	padding: 0 0.25rem;
}
